.home {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    max-width: 1500px;
}

.home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(74, 187, 216, 0));
}