.login {
  background-color: white;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__logo {
  object-fit: contain;
  margin: 20px auto;
  width: 100px;
}

.login__container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px 30px;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.login__container > form {
  display: flex;
  flex-direction: column;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 30px;
  background-color: white;
  width: 98%;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__signInButton {
  background-color: rgb(247, 127, 0);
  border: 1px solid transparent;
  border-radius: 3px;
  color: #111;
  padding: 7px 10px;
  cursor: pointer;
  margin: 40px auto;
  width: 100%;
}

.login__registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin: 10px auto;
  border-color: darkgrey;
  cursor: pointer;
}
