.App {
    font-family: 'Nunito', sans-serif;
}

.product__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 80px;
    padding: 0 40px;
}

@media screen and (max-width: 375px) {
    .product__grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}